<launch>
  <arg name="target_model_name" default="cylinder_target_gate_probe"/>
  <arg name="target_sdf_path" default="$(find rexrov_single_oberon7_fm_dp)/models/cylinder_target/model.sdf"/>
  <arg name="target_x" default="2.6"/>
  <arg name="target_y" default="2.0"/>
  <arg name="target_z" default="-40.0"/>

  <arg name="base_relative_target_rate_hz" default="30.0"/>
  <arg name="base_relative_target_offset_x" default="0.10"/>
  <arg name="base_relative_target_offset_y" default="0.0"/>
  <arg name="base_relative_target_offset_z" default="0.04"/>
  <arg name="base_relative_target_wait_timeout_sec" default="10.0"/>
  <arg name="base_relative_target_max_base_pose_age_sec" default="0.25"/>
  <arg name="prefer_model_states_base_pose" default="false"/>

  <node pkg="gazebo_ros"
        type="spawn_model"
        name="spawn_b8_target_gate_probe"
        output="screen"
        args="-sdf -file $(arg target_sdf_path) -model $(arg target_model_name) -x $(arg target_x) -y $(arg target_y) -z $(arg target_z)"/>

  <node pkg="rexrov_single_oberon7_fm_dp"
        type="base_relative_target.py"
        name="b8_target_gate_base_relative_target"
        output="screen">
    <param name="target_model_name" value="$(arg target_model_name)"/>
    <param name="base_model_name" value="rexrov"/>
    <param name="base_odom_topic" value="/rexrov/pose_gt"/>
    <param name="model_states_topic" value="/gazebo/model_states"/>
    <param name="base_frame" value="rexrov/base_link"/>
    <param name="eef_frame" value="oberon7_l/end_effector"/>
    <param name="get_model_state_service" value="/gazebo/get_model_state"/>
    <param name="set_model_state_service" value="/gazebo/set_model_state"/>
    <param name="rate_hz" value="$(arg base_relative_target_rate_hz)"/>
    <param name="offset_x" value="$(arg base_relative_target_offset_x)"/>
    <param name="offset_y" value="$(arg base_relative_target_offset_y)"/>
    <param name="offset_z" value="$(arg base_relative_target_offset_z)"/>
    <param name="wait_timeout_sec" value="$(arg base_relative_target_wait_timeout_sec)"/>
    <param name="max_base_pose_age_sec" value="$(arg base_relative_target_max_base_pose_age_sec)"/>
    <param name="prefer_model_states_base_pose" value="$(arg prefer_model_states_base_pose)"/>
  </node>
</launch>
